dj-database-url==0.5.0
Django==2.2.19
django-appconf==1.0.4
django-ckeditor==6.0.0
django-compressor==2.4
django-debug-toolbar==3.1.1
django-heroku==0.3.1
django-js-asset==1.2.2
install==1.3.4
psycopg2==2.9.1
pytz==2021.1
rcssmin==1.0.6
rjsmin==1.1.0
six==1.15.0
sqlparse==0.4.1
whitenoise==5.2.0
gunicorn
social-auth-app-django
amqp==5.0.2
appdirs==1.4.4
argcomplete==1.12.3
asgiref==3.3.4
attrs==21.2.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
boto3==1.17.80
botocore==1.20.80
brotlipy==0.7.0
celery==5.0.4
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1613247279197/work
cfn-flip==1.2.3
chardet @ file:///C:/ci/chardet_1607690654534/work
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
conda==4.9.2
conda-package-handling @ file:///C:/ci/conda-package-handling_1603003327818/work
configparser==5.0.1
coreapi==2.3.3
coreschema==0.0.4
crayons==0.4.0
cryptography @ file:///C:/ci/cryptography_1616769344312/work
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.1
dj-database-url==0.5.0
dj-rest-auth==2.1.5
Django==3.2.3
django-allauth==0.44.0
django-appconf==1.0.4
django-celery-inspect==0.2.1
django-ckeditor==6.0.0
django-compressor==2.4
django-cors-headers==3.7.0
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-etc==1.3.0
django-extensions==3.1.3
django-filter==2.4.0
django-heroku==0.3.1
django-http-monitor==0.5.5
django-js-asset==1.2.2
django-libsass==0.8
django-model-utils==4.1.1
django-s3-storage==0.13.4
django-unique-upload==0.2.1
djangorestframework==3.12.4
djangorestframework-camel-case==1.2.0
djangorestframework-recursive==0.1.2
djangorestframework-simplejwt==4.7.0
drf-yasg==1.20.0
durationpy==0.5
filelock==3.0.12
future==0.18.2
gTTS==2.2.1
gunicorn==20.1.0
hjson==3.0.2
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imageio==2.9.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
kappa==0.6.0
kiwisolver==1.3.1
kombu==5.0.2
libsass==0.20.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.1
menuinst==1.4.16
mysqlclient==2.0.1
networkx==2.5.1
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
numpy==1.20.2
oauthlib==3.1.0
opencv-python==4.5.1.48
packaging==20.9
pep517==0.10.0
Pillow==8.2.0
pip==21.0.1
pip-tools==6.1.0
placebo==0.9.0
playsound==1.2.2
prompt-toolkit==3.0.8
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pygal==2.4.0
PyJWT==2.0.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.8.1
python-decouple==3.4
python-slugify==5.0.2
python3-openid==3.2.0
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyWavelets==1.1.1
pywin32==227
PyYAML==5.4.1
rcssmin==1.0.6
redis==3.5.3
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
rjsmin==1.1.0
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016967756/work
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
s3transfer==0.4.2
scikit-image==0.18.1
scipy==1.6.2
selenium==3.141.0
sentry-sdk==1.0.0
setuptools==52.0.0.post20210125
six @ file:///C:/ci/six_1605187374963/work
social-auth-app-django==4.0.0
social-auth-core==3.3.3
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
swagger-spec-validator==2.7.3
text-unidecode==1.3
tifffile==2021.4.8
toml==0.10.2
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
troposphere==2.7.1
ua-parser==0.10.0
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
user-agents==2.2.0
vboxapi==1.0
vine==5.0.0
virtualenv==20.4.7
wcwidth==0.2.5
webdriver-manager==3.2.2
Werkzeug==0.16.1
wheel==0.36.2
whitenoise==5.2.0
wikipedia==1.4.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wsgi-request-logger==0.4.6
youtube-search==1.1.1
zappa==0.52.0