amqp==5.0.2
asgiref==3.2.10
beautifulsoup4==4.9.3
billiard==3.6.3.0
brotlipy==0.7.0
celery==5.0.4
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1613247279197/work
chardet @ file:///C:/ci/chardet_1607690654534/work
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
conda==4.9.2
conda-package-handling @ file:///C:/ci/conda-package-handling_1603003327818/work
configparser==5.0.1
crayons==0.4.0
cryptography @ file:///C:/ci/cryptography_1616769344312/work
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.1.2
django-appconf==1.0.4
django-celery-inspect==0.2.1
django-ckeditor==6.0.0
django-compressor==2.4
django-debug-toolbar==3.1.1
django-etc==1.3.0
django-heroku==0.3.1
django-http-monitor==0.5.5
django-js-asset==1.2.2
django-libsass==0.8
djangorestframework==3.12.2
gTTS==2.2.1
gunicorn==20.1.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
kombu==5.0.2
libsass==0.20.1
menuinst==1.4.16
mysqlclient==2.0.1
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
oauthlib==3.1.0
playsound==1.2.2
prompt-toolkit==3.0.8
psycopg2==2.8.6
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pygal==2.4.0
PyJWT==2.0.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-decouple==3.4
python3-openid==3.2.0
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pywin32==227
rcssmin==1.0.6
redis==3.5.3
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
rjsmin==1.1.0
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016967756/work
selenium==3.141.0
six @ file:///C:/ci/six_1605187374963/work
social-auth-app-django==4.0.0
social-auth-core==3.3.3
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
vboxapi==1.0
vine==5.0.0
wcwidth==0.2.5
webdriver-manager==3.2.2
whitenoise==5.2.0
wikipedia==1.4.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
youtube-search==1.1.1
