{% extends "../blog/base.html" %}
{% load static %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<div id="content" class="colM">

  <h1>Password reset</h1>


<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken">
  <fieldset class="module aligned">
      <div class="form-group" style="overflow: hidden;font-size: 13px;border-bottom: 1px solid #eee;">

          <label for="id_email" style="display: block;padding: 4px 10px 0 0;float: left;width: 160px;word-wrap: break-word;line-height: 1; font-size:17px;">Email address: </label>
          <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
      </div>
      <input type="submit" value="Reset my password" class="btn btn-default">
  </fieldset>
</form>
</div>

{% endblock %}