{% extends "./base.html" %}
{% load static %}

{% block title %} Page Not Found {% endblock %}
{% block extra-head %}
<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/nhandz/raw/upload/v1616660370/Blog/blog/css/error.css"/>
{% endblock %}
{% block content %}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! Page Not Be Found</h2>
        <h4>If you think this link is broken! Contact me on <a href="https://www.facebook.com/nhan.is.dz"> Facebook</a></h4>
        <a class="btn-back" href="/">Back to homepage</a>
    </div>
</div>

{% endblock %}
