{% extends "./base.html" %}
{% load static %}

{% block title %}{{ post.title}}{% endblock %}
{% block welcome %}
    {% if user.is_active or user.signup_confirmation %}
        <ul class="nav navbar-nav navbar-right" style="display: flex">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color: #fff; padding-right: 15px;">Hi {{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="">Edit profile</a>
                    </li>
                    <li>
                        <a href="{% url 'user:password_change' %}">Change password</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'user:logout' %}" style="color: #a1ccf1; padding-left: 0">Logout</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-9">
      <div class="post">
          <h2>{{ post.title }}</h2>
          <p>{{ post.created | date }} <b>|</b> <span>{{ post.author }}</span> in
              <a href="{% url 'blog:blog_category' post.category|slugify %}">{{ post.category.title }}</a>
          </p>
          <hr>
          <p>{{ post.content | safe }}</p>
          <br/>
          <p style="float: right">{{ post.click }} Views</p>
      </div>
  </div>
    <div class="col-md-3 sidebar">
    {% load blog_tags %}
    {% blog_recent %}
    {% blog_categories %}
    {% blog_archive %}
    <br/>
    </div>
    </div>
</div>

{% endblock %}